# .NET
**/bin/
**/obj/
*.user
*.userosscache
*.sln.docstates

# Sensitive Data
**/appsettings.json
**/appsettings.Development.json

# Screenshots
*.png
*.jpg
*.jpeg

# Environments
.env

# IDE and OS
.vs/
.vscode/
.DS_Store
Thumbs.db
